//mobile and tablets
@import 'variables';
@function myColor($colorName)
{
    @return map-get($map: $colors, $key:$colorName );
}
main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .about
        {
            width: 100%;                        
            section
            {
                width: 100%;                                
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                .about-header
                {
                    width: 80%;                           
                    h2,p
                    {
                        width: 100%;
                        text-align: justify;
                        margin: 0;
                    }
                    p 
                    {
                        color: myColor(font-2);
                    }
                    .alterbutton
                    {
                        background-color:myColor(secondary);
                        border: none;
                        border-radius: 5px;
                        text-align: center;
                        justify-content: center;
                        width: 90%;
                        text-align: center;  
                        padding: 5% ;                    
                        p
                        {
                            text-align: center;
                            padding-top: 8px;
                            padding-bottom: 10px;
                            padding-left: 5px;
                            color: white;
                        }
                        box-shadow: 2px 4px 6px 2px rgb(201, 200, 200);
                        img
                        {
                            width: 15px;                            
                        }
                    }
                }
                .about-content
                {
                    width: 80%;
                    margin-top: 5%;
                    display: flex;                   
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;
                    .about-content-1
                    {
                        width: 100%;
                        margin: 5% 0;                       
                        display: flex;
                        flex-wrap: wrap;
                        text-align: left;
                        border-radius: 5px;                                            
                        box-shadow: 5px 10px 15px 5px rgb(201, 200, 200);
                        img
                        {
                            width: 35px; 
                            padding-top: 5%;
                            padding-left: 10%;                           
                        }
                        h3
                        {
                            width: 90%;
                            text-align: left;
                            padding-left: 10%;
                        }
                        p
                        {
                            width: 80%;
                            text-align: left;
                            padding-left: 10%;
                            color: myColor(font-2);
                        }
                    }
                }
                .about-services
                {
                    width: 80%;
                    margin-top: 3%;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;
                    .about-services-header
                    {
                        width: 100%;                       
                        .alterbutton
                        {
                            background-color:myColor(secondary);
                            color: white;
                            border: none;
                            border-radius: 5px;
                            margin-bottom: 3%;
                            padding: 3px 0;
                            text-align: center;
                            justify-content: center;
                            width: 90%;  
                            padding: 5%;                                             
                            p
                            {
                                text-align: center;                           
                            }
                            h2
                            {
                                text-align: center;
                            }
                            box-shadow: 2px 4px 6px 2px rgb(201, 200, 200);                        
                        }
                    }
                    .aboutservices-content
                    {
                        width: 100%;
                        margin: 5% 0;                        
                        display: flex;
                        flex-wrap: wrap;
                        text-align: center;
                        justify-content: center; 
                        border-radius: 5px;                                            
                        box-shadow: 5px 10px 15px 5px rgb(201, 200, 200);
                        img
                        {
                            width: 100px; 
                            padding-top: 5%;
                            padding-left: 10%;                                                     
                        }
                        h3
                        {
                            width: 80%;
                            text-align: center;
                           
                        }
                        p
                        {
                            width: 80%;
                            text-align: center;
                            color: myColor(font-2);
                        }
                    }
                    .alterbutton
                    {
                        background-color:myColor(secondary);
                        color: white;
                        border: none;
                        border-radius: 5px;
                        margin-bottom: 3%;
                        text-align: center;
                        justify-content: center;
                        width: 100%;                                                
                        p
                        {
                            text-align: center;                           
                        }
                        h2
                        {
                            text-align: center;
                        }
                        box-shadow: 2px 4px 6px 2px rgb(201, 200, 200);
                        
                    }
                }
            }
        }
    }
}
//laptop and pc
@media (min-width:700px)
{
    main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .about
        {
            width: 100%;                        
            section
            {
                width: 100%;                                
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                .about-header
                {
                    width: 85%;  
                    display: flex;
                    flex-wrap: wrap;              
                    text-align: center;
                    justify-content: center;
                    h2,p
                    {
                        text-align: center;
                        margin: 1rem 0;
                    }
                    p 
                    {
                        text-align: justify;
                    }
                    .alterbutton
                    {
                        background-color:myColor(secondary);
                        border: none;
                        border-radius: 5px;
                        text-align: center;
                        justify-content: center;
                        width: 250px;
                        padding: 20px;                        
                        p
                        {
                            text-align: center;
                            padding-top: 8px;
                            padding-bottom: 10px;
                            padding-left: 5px;
                            color: white;
                            margin: 0;
                        }
                        box-shadow: 2px 4px 6px 2px rgb(201, 200, 200);
                        img
                        {
                            width: 15px;                            
                        }
                    }
                }
                .about-content
                {
                    width: 90%;
                    display: flex;                   
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;
                    .about-content-1
                    {
                        width: 23%;
                        min-width: 200px;
                        min-height: 200px;
                        margin: 2.5%;
                        padding: 2.5%;                
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-evenly;
                        flex-grow: 1;
                        border-radius: 5px;                                            
                        box-shadow: 5px 10px 15px 5px rgb(201, 200, 200);
                        img
                        {
                            width: 50px; 
                            padding: 0;
                            margin: 0;                          
                        }
                        h3
                        {
                            width: 90%;
                            text-align: center;
                            margin: 0; 
                            padding: 0;
                        }
                        p
                        {
                            width: 90%;
                            margin: 0; 
                            padding: 0;
                        }
                    }
                }
                .about-services
                {
                    width: 90%;
                    margin-top: 3%;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;
                    .about-services-header
                    {
                        width: 97%; 
                        margin: 5% 0;                      
                        .alterbutton
                        {
                            background-color:myColor(secondary);
                            color: white;
                            border: none;
                            border-radius: 5px;
                            padding: 3px 0;
                            text-align: center;
                            justify-content: center;
                            width: 250px;  
                            padding: 20px;
                            margin: 0 auto;                                             
                            p
                            {
                                text-align: center;                           
                            }
                            h2
                            {
                                text-align: center;
                            }
                            box-shadow: 2px 4px 6px 2px rgb(201, 200, 200);                        
                        }
                    }
                    .aboutservices-content
                    {
                        width:19%;
                        min-width: 250px;
                        margin: 0 1.5% ; 
                        padding: 1.5%;                     
                        display: flex;
                        flex-wrap: wrap;
                        text-align: center;
                        justify-content: center; 
                        flex-grow: 1;
                        border-radius: 5px;                                            
                        box-shadow: 5px 10px 15px 5px rgb(201, 200, 200);
                        img
                        {
                            width: 100px; 
                            padding-top: 5%;
                            padding-left: 10%;                                                     
                        }
                        h3
                        {
                            width: 80%;
                            text-align: center;
                           
                        }
                        p
                        {
                            width: 80%;
                            text-align: center;
                            color: myColor(font-2);
                        }
                    }
                    .alterbutton
                    {
                        background-color:myColor(secondary);
                        color: white;
                        border: none;
                        border-radius: 5px;
                        margin-bottom: 3%;
                        text-align: center;
                        justify-content: center;
                        width: 130px;  
                        margin: 5% 0;                                              
                        p
                        {
                            text-align: center;                           
                        }
                        h2
                        {
                            text-align: center;
                        }
                        box-shadow: 2px 4px 6px 2px rgb(201, 200, 200);
                        
                    }
                }
            }
        }
    }
}
}




