//mobile and tablets
main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .cover
        {
            width: 100%;
            //code goes here
            section
            {
                width: 100%;
            }
        }
    }
}
//laptop and pc
@media (min-width:700)
{
    main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .cover
        {
            width: 100%;
            //code goes here
            section
            {
                width: 100%;
            }
        }
    }
}
}


