//mobile and tablets
@import 'variables';
@function myColor($colorName)
{
    @return map-get($map: $colors, $key:$colorName );
}
header 
{
    width: 100%;
    background: myColor(font-3);
    height: auto;
    height: 17vh;
    section
    {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 10px 0;
        overflow-x: hidden;
        .hd-lg
        {
            width: 30%;
            height: 100%;
            img
            {
                width: 50px;
                margin-left: 30px;
                flex-grow: 1;
                height: 50px;
            }
            h1
            {
                color: myColor(secondary);
                text-align: left;
                margin: 0;
                font-size: 2rem;
            }
        }
        .hd-cc
        {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            flex-grow: 2;
            .hd-sc
            {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;
                a 
                {
                    background: myColor(secondary);
                    width: 30px;
                    height: 30px;
                    margin: 3px;
                    border-radius: 50%;
                    img 
                    {
                        width: 20px;
                        padding: 5px;
                    }
                }
                a:hover
                {
                    background:myColor(hover);
                }
            }
            .menu,.change
            {
                width: 50px;
                min-height: 50px;
                margin: 1rem 0 0.5rem;
                float: right;
                background: transparent;
                cursor: pointer;
                .bar 
                {
                    width: 40px;
                    height: 5px;
                    margin: 5px;
                    background-color: myColor(secondary);
                }
            }
            .change
            {
                .bar1
                {
                    transform: rotate(-45deg) translate(-1px,4px);
                }
                .bar2
                {
                    display: none;
                }
                .bar3
                {
                    transform: rotate(45deg) translate(-3px,-8px);
                }
            }
        }
        .ht-nm
        {
            width: 15%;
            z-index: 2;
            .content,.show-nav
            {
                width: 100%;
                position: absolute;
                height: 100vh;
                background: myColor(font-3);
                top: 17vh;
                left: 0;
                animation: outer 1s;
                display: none;
                z-index: 2;
                ul 
                {
                    list-style-type: none;
                    width: 100%;
                    height: auto;
                    padding: 30px 0;
                    li 
                    {
                        padding: 10px 0;
                        text-align: center;
                        a
                        {
                            padding: 10px;
                            color: myColor(secondary);
                            font-size: 2rem;
                            font-weight: 700;
                        }
                    }
                }
            }
            .show-nav
            {
                display: block;
                transition: 1s;
                animation: intro 1s;
                left: 0;
            }
        }
    }
}
@media (min-width:700px)
{
    header 
    {
        max-height: 12vh;
        section 
        {
            .ht-nm
            {
                .content,.show-nav
                {
                    top: 11vh;
                }
            }
        }
    }
}
//laptop and pc
@keyframes intro
{
    from 
    {
        left: 100%;
        opacity: 0;
    }
    to 
    {
        left: 0;
        opacity: 1;
    }
}
@keyframes outer
{
    from 
    {
        opacity: 1;
        left: 0;
    }
    to 
    {
        opacity: 0;
        left: 100%;
    }
}
@media (min-width:1000px)
{
    header 
    {
        background:myColor(font-3);
        height: auto;
        max-height: 15vh;
        section
        {
            .hd-cc
            {
                max-height: 50px;
                .hd-sc
                {
                    justify-content: flex-end;
                   
                }
                .menu,.change
                {
                    display: none;
                }
            }
            .ht-nm
            {
                width: 15%;
                z-index: 2;
                .content,.show-nav
                {
                    width: 100%;
                    position: absolute;
                    height: 10vh;
                    background: transparent;
                    top: 5vh;
                    left: 0;
                    animation: none;
                    display: flex;
                    justify-content: flex-end;
                    z-index: 2;
                    ul 
                    {
                        list-style-type: none;
                        width: 100%;
                        padding: 10px 0 ;
                        display: flex;
                        justify-content: flex-end;
                        margin: 0;
                        margin-right: 5%;
                        li 
                        {
                            padding: 10px 0;
                            text-align: center;
                            a
                            {
                                padding: 10px;
                                color: myColor(secondary);
                                font-size: 1.5rem;
                                font-weight: 500;
                            }
                            a:hover 
                            {
                                transition: 0.5s;
                                color: myColor(hover);
                            }
                        }
                    }
                }
                .show-nav
                {
                    display: block;
                    transition: 1s;
                    animation: intro 1s;
                    left: 0;
                }
            }
        }
    }
}