//mobile and tablets
@import 'variables';
@function myColor($colorName)
{
    @return map-get($map: $colors, $key:$colorName );
}
main 
{
    width: 100%;
    section
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        justify-content: center;
        .offers-header
        {
            width: 100%;
            padding-top: 30px;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
            min-height: 15vh;
            background-image: url("../images/offerscover.png");
            
            h1
            {
                color: white;
                font-size: 2.558em; 
                padding-bottom: 5%;               
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: space-evenly;
            }
        }
        .offers-content
        {
            width: 80%;
            margin: 5% 0;
            display: flex;
            flex-wrap: wrap;
            text-align: justify;
            justify-content: center;
            .offers-content-img
            {
                width: 100%;
                margin: 5% 0;
                display: flex;
                flex-wrap: wrap;
                text-align: justify;
                justify-content: center;
                img
                {
                    width: 100%;
                    box-shadow: 5px 10px 15px 5px gray;
                }
                .offers-date
                {
                    background-color:myColor(secondary);
                    color: white;
                    border: none;
                    border-radius: 5px;
                    text-align: center;
                    justify-content: center;
                    width: 100px;                         
                    margin-top: -30px;
                    p
                    {
                        text-align: center;                                              
                    }
                    box-shadow: 2px 4px 6px 2px rgb(201, 200, 200);                           
                }
            }
        }
    }
}
//ipad view
@media (min-width:1000px)
{
    main 
    {
        width: 100%;
        section 
        {
            width: 100%;
            .offers
            {
                width: 100%;            
                section
                {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: justify;
                    justify-content: center;
                    .offers-header
                    {
                        width: 100%;
                        height: 5vh;
                        clip-path: polygon(0 0, 100% 0, 100% 30%, 35% 100%, 0 30%);
                        background-image: url("../images/offerscover.png");
                        h1
                        {
                            color: white;
                            font-size: 2.25rem; 
                            width: 90%;                                                        
                            display: flex;
                            flex-wrap: wrap;
                            text-align: left;                        
                        }
                    }
                    .offers-content
                    {
                        width: 90%;
                        margin: 5% 0;
                        display: flex;
                        flex-wrap: wrap;
                        text-align: justify;
                        justify-content: center;
                        .offers-content-img
                        {
                            width: 25%;
                            margin: 0 2.5%;
                            display: flex;
                            flex-wrap: wrap;
                            text-align: right;
                            overflow: visible;                            
                            img
                            {
                                width: 100%;
                            }
                            .offers-date
                            {
                                background-color:myColor(secondary);
                                color: white;
                                border: none;
                                border-radius: 5px;                                
                                height: 50px;                                                     
                                margin-top: -30px;
                                
                                p
                                {
                                    text-align: center;                                    
                                    padding-bottom: 10px;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                }
                                box-shadow: 2px 4px 6px 2px rgb(201, 200, 200);                           
                            }
                        }
                    }
                }
            }
        }
    }
}
