@import 'variables';
@function myColor($colorName)
{
    @return map-get($map: $colors, $key:$colorName );
}
//mobile and tablets
main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .services
        {
            width: 90%;
            margin: 10% auto;
            //code goes here
            section
            {
                width: 100%;
                .new 
                {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 5% 0;
                    button 
                    {
                        width: 100%;
                        background: myColor(secondary);
                        border: 0;
                        padding: 10px 20px;
                        font-size: 1.25rem;
                        color: myColor(font-3);
                        border-radius: 5px;
                        box-shadow: 2px 4px 6px 2px #c9c8c8;
                    } 
                }
                .list
                {
                    width: 100%;
                    box-shadow: 2px 4px 6px 2px #c9c8c8;
                    ul 
                    {
                        list-style-type: none;
                        border: 1px solid myColor(secondary);
                        border-bottom: 0;
                        margin: 0;
                        padding: 0;
                        li 
                        {
                            width: 90%;
                            color: myColor(secondary);
                            padding : 5px 0 5px 10%;
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                }
                .ser1
                {
                    width: 100%;
                    overflow: hidden;
                    border-radius: 0 0 3px 3px;
                    border: 1px solid myColor(secondary);
                    box-shadow: 2px 4px 6px 2px #c9c8c8;
                    .ser 
                    {
                        margin: 0;
                        height: auto;
                        .new1
                        {
                            width: 100%;
                            button 
                            {
                                display: none;
                            }
                            p 
                            {
                                margin:5% 0;
                                color: myColor(font-2);
                                width: 90%;
                                padding: 0 5% ;
                            }
                            .rate
                            {
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-around;
                                padding: 0 0 5% 0;
                                h4 
                                {
                                    margin: 0;
                                    color: myColor(font-2);
                                    font-weight: 500;
                                }
                            }
                        }
                        .ft
                        {
                            width: 100%;
                            height: auto;
                            background: myColor(secondary);
                            img 
                            {
                                width: 100%;
                            }
                            h4,p 
                            {
                                margin: 0;
                                color: myColor(font-3);
                                width: 90%;
                                padding: 0 5%;
                            }
                            h4 
                            {
                                padding-top: 5%;
                            }
                            p 
                            {
                                padding-bottom: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}
//laptop and pc
@media (min-width:1000px)
{
    main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .services
        {
            width: 100%;
            margin: 5% 0 10% 0;
            section
            {
                width: 85%;
                margin: 0 auto;
                .new 
                {
                    margin: 0 0 3% 0;
                    button 
                    {
                        width: 250px;
                        padding: 20px;
                    }
                }
                .list
                {
                    background: myColor(font-3);
                    border: 0;
                    border-bottom: 0;
                    border-radius: 5px 5px 0 0;
                    overflow: hidden;
                    ul 
                    {
                        display: flex;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        border: 0;
                        li 
                        {
                            width: 25%;
                            padding: 10px 0;
                            color: myColor(secondary);
                            text-align: center;
                            a:hover 
                            {
                                color: inherit;
                            }
                        }
                        li:hover 
                        {
                            background: myColor(secondary);
                            color: myColor(font-3);
                        }
                    }
                }
                .ser1
                {
                    width: 90%;
                    min-height: 400px;
                    border-top: 0;
                    padding: 5%;
                    border-radius: 0 0 5px 5px;
                    border: 0;
                    .ser 
                    {
                        margin: 0;
                        padding:0;
                        border: 0;
                        border-radius: 0 0 3px 3px;
                        overflow: hidden;
                        box-shadow:none;
                        display: flex;
                        .new1
                        {
                            width: 50%;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            button 
                            {
                                display: block;
                                outline: 0;
                                width: auto;
                                background: transparent;
                                border: 1px solid myColor(secondary);
                                padding: 10px 0;
                                font-size: 1rem;
                                font-weight: 500;
                                color: myColor(secondary);
                                margin:0 0 0 5%;
                                padding: 10px 20px;
                                cursor: pointer;
                                i 
                                {
                                    padding-left: 10px;
                                }
                            }
                            p 
                            {
                                margin: 10px 0;
                                color: myColor(font-2a);
                                width: 90%;
                                padding: 0 5% ;
                            }
                            .rate
                            {
                                width: 90%;
                                padding: 0 5%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: flex-start;
                                
                                h4 
                                {
                                    width: 50%;
                                    margin: 0;
                                    color: myColor(font-1);
                                    font-weight: 500;
                                }
                            }
                        }
                        .ft
                        {
                            width: 50%;
                            background: transparent;
                            overflow: visible;
                            margin:0;
                            img 
                            {
                                width: 70%;
                                height: 100%;
                                margin-left: 15%;
                            }
                            .ft-cc
                            {
                                box-shadow: 2px 4px 6px 2px rgba(232, 232, 255, 0.384); 
                                width: 300px;
                                padding: 10px;
                                border-radius: 5px;
                                position: relative;
                                margin-top: -50%;
                                background: myColor(secondary);
                            }
                        }
                    }
                    .ser2
                    {
                        flex-direction: row-reverse;
                        .ft
                        {
                            width: 50%;
                            background: transparent;
                            overflow: visible;
                            margin:0;
                            img 
                            {
                                width: 70%;
                                height: 100%;
                                margin-left: 0;
                            }
                            .ft-cc
                            {
                                width: 300px;
                                padding: 10px;
                                border-radius: 5px;
                                margin: 0 auto;
                                position: relative;
                                margin-top: -50%;
                                margin-left: auto;
                                margin-right: 0;
                                background: myColor(secondary);
                            }
                        }
                    }
                }
            }
        }
    }
}
}
