$colors:(
    primary:#282C4E,
    secondary:#3B4FE4,
    light-primary:#F4F4F4,
    light-secondary:#E4F5FF,
    acent:#48C140,
    acent1: #0073D0,
    hover:rgb(255, 97, 176),
    font-1:rgba(0,0,0,1),
    font-2:rgba(0,0,0,0.8),
    font-2a:rgba(0,0,0,0.65),
    font-3:rgba(255,255,255,1),
    font-4:rgba(255,255,255,0.8),
    shadow-1:rgba(0,0,0,0.3),
    shadow-2:rgba(255,255,255,0.3),
);