html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.32857em;
}

h2 {
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1.31667em;
}

h3 {
  font-size: 1.20rem;
  font-weight: 700;
  line-height: 1.31111em;
}

p, a, label {
  font-weight: 500;
  color: myColor(font-2);
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: myColor(font-1);
}

a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: myColor(hover);
}

header {
  width: 100%;
  background: white;
  height: auto;
  height: 17vh;
}

header section {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
  overflow-x: hidden;
}

header section .hd-lg {
  width: 30%;
  height: 100%;
}

header section .hd-lg img {
  width: 50px;
  margin-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50px;
}

header section .hd-lg h1 {
  color: #3B4FE4;
  text-align: left;
  margin: 0;
  font-size: 2rem;
}

header section .hd-cc {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

header section .hd-cc .hd-sc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section .hd-cc .hd-sc a {
  background: #3B4FE4;
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 50%;
}

header section .hd-cc .hd-sc a img {
  width: 20px;
  padding: 5px;
}

header section .hd-cc .hd-sc a:hover {
  background: #ff61b0;
}

header section .hd-cc .menu, header section .hd-cc .change {
  width: 50px;
  min-height: 50px;
  margin: 1rem 0 0.5rem;
  float: right;
  background: transparent;
  cursor: pointer;
}

header section .hd-cc .menu .bar, header section .hd-cc .change .bar {
  width: 40px;
  height: 5px;
  margin: 5px;
  background-color: #3B4FE4;
}

header section .hd-cc .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 4px);
          transform: rotate(-45deg) translate(-1px, 4px);
}

header section .hd-cc .change .bar2 {
  display: none;
}

header section .hd-cc .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -8px);
          transform: rotate(45deg) translate(-3px, -8px);
}

header section .ht-nm {
  width: 15%;
  z-index: 2;
}

header section .ht-nm .content, header section .ht-nm .show-nav {
  width: 100%;
  position: absolute;
  height: 100vh;
  background: white;
  top: 17vh;
  left: 0;
  -webkit-animation: outer 1s;
          animation: outer 1s;
  display: none;
  z-index: 2;
}

header section .ht-nm .content ul, header section .ht-nm .show-nav ul {
  list-style-type: none;
  width: 100%;
  height: auto;
  padding: 30px 0;
}

header section .ht-nm .content ul li, header section .ht-nm .show-nav ul li {
  padding: 10px 0;
  text-align: center;
}

header section .ht-nm .content ul li a, header section .ht-nm .show-nav ul li a {
  padding: 10px;
  color: #3B4FE4;
  font-size: 2rem;
  font-weight: 700;
}

header section .ht-nm .show-nav {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: intro 1s;
          animation: intro 1s;
  left: 0;
}

@media (min-width: 700px) {
  header {
    max-height: 12vh;
  }
  header section .ht-nm .content, header section .ht-nm .show-nav {
    top: 11vh;
  }
}

@-webkit-keyframes intro {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes intro {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes outer {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes outer {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

@media (min-width: 1000px) {
  header {
    background: white;
    height: auto;
    max-height: 15vh;
  }
  header section .hd-cc {
    max-height: 50px;
  }
  header section .hd-cc .hd-sc {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header section .hd-cc .menu, header section .hd-cc .change {
    display: none;
  }
  header section .ht-nm {
    width: 15%;
    z-index: 2;
  }
  header section .ht-nm .content, header section .ht-nm .show-nav {
    width: 100%;
    position: absolute;
    height: 10vh;
    background: transparent;
    top: 5vh;
    left: 0;
    -webkit-animation: none;
            animation: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 2;
  }
  header section .ht-nm .content ul, header section .ht-nm .show-nav ul {
    list-style-type: none;
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-right: 5%;
  }
  header section .ht-nm .content ul li, header section .ht-nm .show-nav ul li {
    padding: 10px 0;
    text-align: center;
  }
  header section .ht-nm .content ul li a, header section .ht-nm .show-nav ul li a {
    padding: 10px;
    color: #3B4FE4;
    font-size: 1.5rem;
    font-weight: 500;
  }
  header section .ht-nm .content ul li a:hover, header section .ht-nm .show-nav ul li a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #ff61b0;
  }
  header section .ht-nm .show-nav {
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-animation: intro 1s;
            animation: intro 1s;
    left: 0;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .cover {
  width: 100%;
}

main section .cover section {
  width: 100%;
  height: 90vh;
}

main section .cover section .slide-nav {
  display: none;
}

main section .cover section .slide {
  min-width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#48C140), to(#0073D0));
  background: linear-gradient(90deg, #48C140, #0073D0);
  -webkit-transition: all 1s;
  transition: all 1s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .cover section .slide .sl-ig {
  width: 90%;
  padding-top: 10px;
}

main section .cover section .slide .sl-ig img {
  width: 50%;
  margin: 0 25%;
}

main section .cover section .slide .sl-ct {
  width: 90%;
}

main section .cover section .slide .sl-ct h4 {
  font-size: 0.75rem;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  width: 170px;
}

main section .cover section .slide .sl-ct h2 {
  margin: 10px 0;
  color: white;
}

main section .cover section .slide .sl-ct p {
  margin: 10px 0 20px;
  color: white;
}

main section .cover section .slide .sl-ct a {
  background: white;
  padding: 10px;
  color: #48C140;
  font-weight: 700;
  cursor: pointer;
}

main section .cover section .slide .sl-ct a:hover {
  background: #ff61b0;
  color: white;
  border: 1px solid white;
}

main section .cover section .slide2 {
  background: -webkit-gradient(linear, left top, right top, from(#0073D0), to(#48C140));
  background: linear-gradient(90deg, #0073D0, #48C140);
}

@media (min-width: 1000px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .cover {
    width: 100%;
  }
  main section .cover section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .cover section .slide-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    top: 90%;
    left: 47%;
    position: absolute;
  }
  main section .cover section .slide-nav .dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  main section .cover section .slide-nav .dot:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  main section .cover section .slide {
    min-width: 80%;
    width: 100%;
    padding: 0;
    background: -webkit-gradient(linear, left top, right top, from(#48C140), to(#0073D0));
    background: linear-gradient(90deg, #48C140, #0073D0);
    -webkit-transition: all 1s;
    transition: all 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main section .cover section .slide .sl-ig {
    width: 40%;
    float: right;
  }
  main section .cover section .slide .sl-ig img {
    width: 70%;
  }
  main section .cover section .slide .sl-ct {
    width: 40%;
  }
  main section .cover section .slide .sl-ct h4 {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    width: 350px;
  }
  main section .cover section .slide .sl-ct h2 {
    margin: 20px 0;
    color: white;
    font-size: 2rem;
  }
  main section .cover section .slide .sl-ct p {
    margin: 20px 0 40px;
    color: white;
    font-size: 1.5rem;
  }
  main section .cover section .slide .sl-ct a {
    background: white;
    padding: 10px;
    color: #48C140;
    font-weight: 400;
    font-size: 1.5rem;
  }
  main section .cover section .slide2 {
    background: -webkit-gradient(linear, left top, right top, from(#0073D0), to(#48C140));
    background: linear-gradient(90deg, #0073D0, #48C140);
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .services {
  width: 90%;
  margin: 0 auto;
}

main section .services section {
  width: 100%;
}

@media (min-width: 700) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .services {
    width: 100%;
  }
  main section .services section {
    width: 100%;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .testimonials {
  width: 100%;
  background-image: url("../images/testimonial-cover.png");
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
}

main section .testimonials section {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

main section .testimonials section .ts-btn {
  border: 0;
  outline: none;
  background: transparent;
  width: 5%;
  cursor: pointer;
}

main section .testimonials section .ts-el {
  width: 80%;
  padding: 5%;
}

main section .testimonials section .ts-el .ts-tl {
  text-align: center;
}

main section .testimonials section .ts-el .ts-tl h4, main section .testimonials section .ts-el .ts-tl h2 {
  margin: 10px 0;
}

main section .testimonials section .ts-el .ts-bc {
  background: white;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
}

main section .testimonials section .ts-el .ts-if {
  text-align: center;
}

main section .testimonials section .ts-el .ts-if h3, main section .testimonials section .ts-el .ts-if p {
  margin: 10px 0;
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .testimonials {
    width: 100%;
    min-height: 50vh;
    height: auto;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  main section .testimonials section {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
  }
  main section .testimonials section .ts-btn {
    border: 0;
    outline: none;
    background: transparent;
    width: 20px;
  }
  main section .testimonials section .ts-el {
    width: 20%;
    min-width: 300px;
    padding: 5%;
  }
  main section .testimonials section .ts-el .ts-tl {
    text-align: center;
  }
  main section .testimonials section .ts-el .ts-tl h4, main section .testimonials section .ts-el .ts-tl h2 {
    margin: 10px 0;
  }
  main section .testimonials section .ts-el .ts-bc {
    background: white;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
  }
  main section .testimonials section .ts-el .ts-if {
    text-align: center;
  }
  main section .testimonials section .ts-el .ts-if h3, main section .testimonials section .ts-el .ts-if p {
    margin: 10px 0;
  }
  main section .testimonials section .ts-btn:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .offers-header {
  width: 100%;
  padding-top: 30px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
  min-height: 15vh;
  background-color: #3B4FE4;
}

main section .offers-header h2 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .offers-content {
  width: 80%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .offers-content .offers-content-img {
  width: 100%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .offers-content .offers-content-img img {
  width: 100%;
  -webkit-box-shadow: 5px 10px 15px 5px gray;
          box-shadow: 5px 10px 15px 5px gray;
}

main section .offers-content .offers-content-img .offers-date {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  margin-top: -30px;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .offers-content .offers-content-img .offers-date p {
  text-align: center;
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .offers {
    width: 100%;
  }
  main section .offers section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .offers section .offers-header {
    width: 100%;
    min-height: 10vh;
    background-color: #3B4FE4;
  }
  main section .offers section .offers-header h2 {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .offers section .offers-content {
    width: 90%;
    margin: 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .offers section .offers-content .offers-content-img {
    width: 28%;
    margin: 0 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: justify;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main section .offers section .offers-content .offers-content-img img {
    width: 100%;
  }
  main section .offers section .offers-content .offers-content-img .offers-date {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120px;
    height: 50px;
    margin-top: -30px;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .offers section .offers-content .offers-content-img .offers-date p {
    text-align: center;
    padding-bottom: 10px;
    padding-left: 5px;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .about {
  width: 100%;
}

main section .about section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .about section .about-header {
  width: 80%;
}

main section .about section .about-header h2, main section .about section .about-header p {
  width: 100%;
  text-align: justify;
  margin: 0;
}

main section .about section .about-header p {
  color: rgba(0, 0, 0, 0.8);
}

main section .about section .about-header .alterbutton {
  background-color: #3B4FE4;
  border: none;
  border-radius: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .about section .about-header .alterbutton p {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: white;
}

main section .about section .about-header .alterbutton img {
  width: 15px;
}

main section .about section .about-content {
  width: 80%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .about section .about-content .about-content-1 {
  width: 100%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 15px 5px #c9c8c8;
          box-shadow: 5px 10px 15px 5px #c9c8c8;
}

main section .about section .about-content .about-content-1 img {
  width: 35px;
  padding-top: 5%;
  padding-left: 10%;
}

main section .about section .about-content .about-content-1 h3 {
  width: 90%;
  text-align: left;
  padding-left: 10%;
}

main section .about section .about-content .about-content-1 p {
  width: 80%;
  text-align: left;
  padding-left: 10%;
  color: rgba(0, 0, 0, 0.8);
}

main section .about section .about-services {
  width: 80%;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .about section .about-services .about-services-header {
  width: 100%;
}

main section .about section .about-services .about-services-header .alterbutton {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 3%;
  padding: 3px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .about section .about-services .about-services-header .alterbutton p {
  text-align: center;
}

main section .about section .about-services .about-services-header .alterbutton h2 {
  text-align: center;
}

main section .about section .about-services .aboutservices-content {
  width: 100%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 15px 5px #c9c8c8;
          box-shadow: 5px 10px 15px 5px #c9c8c8;
}

main section .about section .about-services .aboutservices-content img {
  width: 100px;
  padding-top: 5%;
  padding-left: 10%;
}

main section .about section .about-services .aboutservices-content h3 {
  width: 80%;
  text-align: center;
}

main section .about section .about-services .aboutservices-content p {
  width: 80%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

main section .about section .about-services .alterbutton {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 3%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .about section .about-services .alterbutton p {
  text-align: center;
}

main section .about section .about-services .alterbutton h2 {
  text-align: center;
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .about {
    width: 100%;
  }
  main section .about section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .about section .about-header {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .about section .about-header h2, main section .about section .about-header p {
    text-align: center;
    margin: 1rem 0;
  }
  main section .about section .about-header p {
    text-align: justify;
  }
  main section .about section .about-header .alterbutton {
    background-color: #3B4FE4;
    border: none;
    border-radius: 5px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120px;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .about section .about-header .alterbutton p {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: white;
    margin: 0;
  }
  main section .about section .about-header .alterbutton img {
    width: 15px;
  }
  main section .about section .about-content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .about section .about-content .about-content-1 {
    width: 23%;
    min-width: 200px;
    min-height: 200px;
    margin: 2.5%;
    padding: 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 5px;
    -webkit-box-shadow: 5px 10px 15px 5px #c9c8c8;
            box-shadow: 5px 10px 15px 5px #c9c8c8;
  }
  main section .about section .about-content .about-content-1 img {
    width: 50px;
    padding: 0;
    margin: 0;
  }
  main section .about section .about-content .about-content-1 h3 {
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  main section .about section .about-content .about-content-1 p {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  main section .about section .about-services {
    width: 90%;
    margin-top: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .about section .about-services .about-services-header {
    width: 97%;
    margin: 5% 0;
  }
  main section .about section .about-services .about-services-header .alterbutton {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 270px;
    margin: 0 auto;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .about section .about-services .about-services-header .alterbutton p {
    text-align: center;
  }
  main section .about section .about-services .about-services-header .alterbutton h2 {
    text-align: center;
  }
  main section .about section .about-services .aboutservices-content {
    width: 19%;
    min-width: 250px;
    margin: 0 1.5%;
    padding: 1.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 5px;
    -webkit-box-shadow: 5px 10px 15px 5px #c9c8c8;
            box-shadow: 5px 10px 15px 5px #c9c8c8;
  }
  main section .about section .about-services .aboutservices-content img {
    width: 100px;
    padding-top: 5%;
    padding-left: 10%;
  }
  main section .about section .about-services .aboutservices-content h3 {
    width: 80%;
    text-align: center;
  }
  main section .about section .about-services .aboutservices-content p {
    width: 80%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }
  main section .about section .about-services .alterbutton {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 3%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 130px;
    margin: 5% 0;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .about section .about-services .alterbutton p {
    text-align: center;
  }
  main section .about section .about-services .alterbutton h2 {
    text-align: center;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .clients {
  width: 100%;
}

main section .clients section {
  width: 100%;
}

main section .clients section .clients-header {
  width: 80%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .clients section .clients-header .alterbutton {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .clients section .clients-header .alterbutton p {
  text-align: center;
  padding: 15px 0;
}

main section .clients section .clients-header .alterbutton img {
  width: 15px;
}

main section .clients section .clients-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .clients section .clients-content .clients-content-img {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .clients section .clients-content .clients-content-img img {
  width: 20%;
  margin: 5%;
}

main section .clients section .clients-content button {
  background: transparent;
  border: none;
  outline: none;
}

main section .clients section .clients-content button:hover {
  cursor: pointer;
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .clients {
    width: 100%;
    margin: 100px 0;
  }
  main section .clients section {
    width: 100%;
  }
  main section .clients section .clients-header {
    width: 85%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .clients section .clients-header .alterbutton {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    margin: 0 auto;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .clients section .clients-header .alterbutton p {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  main section .clients section .clients-header .alterbutton img {
    width: 15px;
  }
  main section .clients section .clients-content {
    width: 80%;
    margin-top: -2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .clients section .clients-content .clients-content-img {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .clients section .clients-content .clients-content-img img {
    width: 15%;
    margin-left: 5%;
    margin-right: 10%;
  }
  main section .clients section .clients-content button {
    background: transparent;
    border: none;
  }
  main section .clients section .clients-content button img {
    width: 15px;
  }
  main section .clients section .clients-content button:hover {
    cursor: pointer;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .pricing {
  width: 90%;
  margin: 0 auto;
}

main section .pricing section {
  width: 100%;
}

@media (min-width: 700) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .pricing {
    width: 100%;
  }
  main section .pricing section {
    width: 100%;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .contact {
  width: 90%;
  margin: 0 auto;
}

main section .contact section {
  width: 100%;
}

@media (min-width: 700) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .contact {
    width: 100%;
  }
  main section .contact section {
    width: 100%;
  }
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  background: #282C4E;
}

footer section {
  width: 90%;
  margin: 0 auto;
}

footer section .ft-by-tp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer section .ft-by-tp .ft-el {
  width: 95%;
  padding: 2.5%;
}

footer section .ft-by-tp .ft-el h1 {
  margin: 1rem 0;
  text-align: center;
  color: white;
}

footer section .ft-by-tp .ft-el h3, footer section .ft-by-tp .ft-el p {
  color: white;
  width: 100%;
  text-align: left;
  margin: 0;
}

footer section .ft-by-tp .ft-el p {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
}

footer section .ft-by-tp .ft-el ul {
  list-style-type: none;
  padding: 10px 0 0 10%;
  margin: 0;
  width: 90%;
  text-align: left;
  list-style-image: url("../images/pointing.png");
}

footer section .ft-by-tp .ft-el ul li {
  padding: 2.5px 0;
}

footer section .ft-by-tp .ft-el ul li a {
  color: rgba(255, 255, 255, 0.8);
}

footer section .ft-by-tp .ft-el ul li a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ff61b0;
}

footer section .ft-by-tp .ft-el .sc-ic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

footer section .ft-by-tp .ft-el .sc-ic a {
  width: 30px;
  height: 30px;
  background: #3B4FE4;
  border-radius: 50%;
  margin: 0 2px;
}

footer section .ft-by-tp .ft-el .sc-ic a img {
  width: 20px;
  height: 20px;
  padding: 5px;
}

footer section .ft-by-tp .ft-el .sc-ic a:hover {
  background: #ff61b0;
}

footer section .ft-by-tp .ft-li {
  width: 45%;
}

footer section .ft-sp {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

footer section .ft-by-bm {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5%;
}

footer section .ft-by-bm .ft-cr {
  width: 100%;
}

footer section .ft-by-bm .ft-cr p {
  color: white;
  margin: 0;
}

footer section .ft-by-bm .ft-ca {
  width: 100%;
}

footer section .ft-by-bm .ft-ca a p {
  color: white;
}

footer section .ft-by-bm .ft-ca a p:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ff61b0;
}

@media (min-width: 700px) {
  footer section {
    width: 80%;
    margin: 0 auto;
  }
  footer section .ft-by-tp {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
  }
  footer section .ft-by-tp .ft-el {
    width: 20%;
    text-align: center;
    padding: 2.5%;
    margin: 0;
  }
  footer section .ft-by-tp .ft-el img {
    width: 50%;
    max-width: 100px;
    margin: 0 auto;
  }
  footer section .ft-by-tp .ft-el h3, footer section .ft-by-tp .ft-el p {
    width: 100%;
    text-align: left;
    margin: 0;
  }
  footer section .ft-by-tp .ft-el p {
    width: 100%;
    padding-top: 10px;
  }
  footer section .ft-by-tp .ft-el ul {
    list-style-type: none;
    padding: 10px 0 0 10%;
    margin: 0;
    width: 90%;
    text-align: left;
    list-style-image: url("../images/pointing.png");
  }
  footer section .ft-by-tp .ft-el ul li {
    padding: 2.5px 0;
  }
  footer section .ft-by-tp .ft-el ul li a {
    padding-left: 10px;
  }
  footer section .ft-by-tp .ft-el .sc-ic {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer section .ft-by-tp .ft-el:first-child {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  footer section .ft-by-tp .ft-el:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  footer section .ft-by-tp .ft-li {
    width: 20%;
    max-width: 150px;
  }
  footer section .ft-sp {
    width: 100%;
    height: 1px;
  }
  footer section .ft-by-bm {
    width: 100%;
    display: block;
    padding: 50px 0;
    min-height: 20px;
  }
  footer section .ft-by-bm .ft-cr {
    float: left;
  }
  footer section .ft-by-bm .ft-cr p {
    margin: 0;
  }
  footer section .ft-by-bm .ft-ca {
    float: right;
  }
  footer section .ft-by-bm .ft-ca a p {
    margin: 0;
  }
}

.overflow {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */