html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.32857em;
}

h2 {
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1.31667em;
}

h3 {
  font-size: 1.20rem;
  font-weight: 700;
  line-height: 1.31111em;
}

p, a, label {
  font-weight: 500;
  color: myColor(font-2);
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: myColor(font-1);
}

a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: myColor(hover);
}

header {
  width: 100%;
  background: white;
  height: auto;
  height: 17vh;
}

header section {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
  overflow-x: hidden;
}

header section .hd-lg {
  width: 30%;
  height: 100%;
}

header section .hd-lg img {
  width: 50px;
  margin-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50px;
}

header section .hd-lg h1 {
  color: #3B4FE4;
  text-align: left;
  margin: 0;
  font-size: 2rem;
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

header section .hd-cc {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

header section .hd-cc .hd-tl {
  width: 100%;
  text-align: right;
}

header section .hd-cc .hd-tl a {
  font-weight: 700;
  color: #3B4FE4;
}

header section .hd-cc .hd-sc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

header section .hd-cc .hd-sc a {
  background: #3B4FE4;
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 50%;
}

header section .hd-cc .hd-sc a img {
  width: 20px;
  padding: 5px;
}

header section .hd-cc .hd-sc a:hover {
  background: #ff61b0;
}

header section .hd-cc .hd-sc .hd-mr {
  display: none;
}

header section .hd-cc .menu, header section .hd-cc .change {
  width: 50px;
  min-height: 50px;
  margin: 1rem 0 0.5rem;
  float: right;
  background: transparent;
  cursor: pointer;
}

header section .hd-cc .menu .bar, header section .hd-cc .change .bar {
  width: 40px;
  height: 5px;
  margin: 5px;
  background-color: #3B4FE4;
}

header section .hd-cc .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 4px);
          transform: rotate(-45deg) translate(-1px, 4px);
}

header section .hd-cc .change .bar2 {
  display: none;
}

header section .hd-cc .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -8px);
          transform: rotate(45deg) translate(-3px, -8px);
}

header section .ht-nm {
  width: 15%;
  z-index: 2;
}

header section .ht-nm .content, header section .ht-nm .show-nav {
  width: 100%;
  position: absolute;
  height: 100vh;
  background: white;
  top: 17vh;
  left: 0;
  -webkit-animation: outer 1s;
          animation: outer 1s;
  display: none;
  z-index: 2;
}

header section .ht-nm .content ul, header section .ht-nm .show-nav ul {
  list-style-type: none;
  width: 100%;
  height: auto;
  padding: 30px 0;
}

header section .ht-nm .content ul li, header section .ht-nm .show-nav ul li {
  padding: 10px 0;
  text-align: center;
}

header section .ht-nm .content ul li a, header section .ht-nm .show-nav ul li a {
  padding: 10px;
  color: #3B4FE4;
  font-size: 2rem;
  font-weight: 700;
}

header section .ht-nm .content ul #con-link, header section .ht-nm .show-nav ul #con-link {
  display: none;
}

header section .ht-nm .show-nav {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: intro 1s;
          animation: intro 1s;
  left: 0;
}

@media (min-width: 700px) {
  header {
    max-height: 12vh;
  }
  header section .ht-nm .content, header section .ht-nm .show-nav {
    top: 11vh;
  }
}

@-webkit-keyframes intro {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes intro {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes outer {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes outer {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

@media (min-width: 1000px) {
  header {
    background: white;
    height: auto;
    max-height: 15vh;
  }
  header section .hd-cc {
    max-height: 50px;
  }
  header section .hd-cc .hd-tl {
    display: none;
  }
  header section .hd-cc .hd-sc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header section .hd-cc .hd-sc .hd-mr {
    width: 83%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header section .hd-cc .hd-sc .hd-mr a {
    background: transparent;
    width: auto;
    padding: 0 20px;
    font-size: 1.5rem;
    color: #48C140;
    font-weight: 500;
  }
  header section .hd-cc .hd-sc .hd-mr a:hover {
    color: #ff61b0;
  }
  header section .hd-cc .menu, header section .hd-cc .change {
    display: none;
  }
  header section .ht-nm {
    width: 15%;
    z-index: 2;
  }
  header section .ht-nm .content, header section .ht-nm .show-nav {
    width: 100%;
    position: absolute;
    height: 10vh;
    background: transparent;
    top: 5vh;
    left: 0;
    -webkit-animation: none;
            animation: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 2;
  }
  header section .ht-nm .content ul, header section .ht-nm .show-nav ul {
    list-style-type: none;
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-right: 5%;
  }
  header section .ht-nm .content ul li, header section .ht-nm .show-nav ul li {
    padding: 10px 0;
    text-align: center;
  }
  header section .ht-nm .content ul li a, header section .ht-nm .show-nav ul li a {
    padding: 10px;
    color: #3B4FE4;
    font-size: 1.5rem;
    font-weight: 500;
  }
  header section .ht-nm .content ul li a:hover, header section .ht-nm .show-nav ul li a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #ff61b0;
  }
  header section .ht-nm .content ul #con-link, header section .ht-nm .show-nav ul #con-link {
    display: block;
    cursor: pointer;
  }
  header section .ht-nm .show-nav {
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-animation: intro 1s;
            animation: intro 1s;
    left: 0;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .cover {
  width: 100%;
}

main section .cover section {
  width: 100%;
  height: 90vh;
}

main section .cover section .slide-nav {
  display: none;
}

main section .cover section .slide {
  min-width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#48C140), to(#0073D0));
  background: linear-gradient(90deg, #48C140, #0073D0);
  -webkit-transition: all 1s;
  transition: all 1s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .cover section .slide .sl-ig {
  width: 90%;
  padding-top: 10px;
}

main section .cover section .slide .sl-ig img {
  width: 50%;
  margin: 0 25%;
}

main section .cover section .slide .sl-ct {
  width: 90%;
}

main section .cover section .slide .sl-ct h4 {
  font-size: 0.75rem;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  width: 170px;
}

main section .cover section .slide .sl-ct h2 {
  margin: 10px 0;
  color: white;
}

main section .cover section .slide .sl-ct p {
  margin: 10px 0 20px;
  color: white;
}

main section .cover section .slide .sl-ct a {
  border: 1px solid white;
  background: transparent;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

main section .cover section .slide .sl-ct a:hover {
  background: #ff61b0;
  color: white;
  border: 1px solid white;
}

main section .cover section .slide2 {
  background: -webkit-gradient(linear, left top, right top, from(#0073D0), to(#48C140));
  background: linear-gradient(90deg, #0073D0, #48C140);
}

@media (min-width: 1000px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .cover {
    width: 100%;
  }
  main section .cover section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .cover section .slide-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    top: 90%;
    left: 47%;
    position: absolute;
  }
  main section .cover section .slide-nav .dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  main section .cover section .slide-nav .dot:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  main section .cover section .slide {
    min-width: 80%;
    width: 100%;
    padding: 0;
    background: -webkit-gradient(linear, left top, right top, from(#48C140), to(#0073D0));
    background: linear-gradient(90deg, #48C140, #0073D0);
    -webkit-transition: all 1s;
    transition: all 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main section .cover section .slide .sl-ig {
    width: 40%;
    float: right;
  }
  main section .cover section .slide .sl-ig img {
    width: 70%;
  }
  main section .cover section .slide .sl-ct {
    width: 40%;
  }
  main section .cover section .slide .sl-ct h4 {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    width: 350px;
  }
  main section .cover section .slide .sl-ct h2 {
    margin: 20px 0;
    color: white;
    font-size: 2rem;
  }
  main section .cover section .slide .sl-ct p {
    margin: 20px 0 40px;
    color: white;
    font-size: 1.5rem;
  }
  main section .cover section .slide .sl-ct a {
    padding: 10px;
    font-weight: 400;
    font-size: 1.5rem;
  }
  main section .cover section .slide2 {
    background: -webkit-gradient(linear, left top, right top, from(#0073D0), to(#48C140));
    background: linear-gradient(90deg, #0073D0, #48C140);
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .services {
  width: 90%;
  margin: 10% auto;
}

main section .services section {
  width: 100%;
}

main section .services section .new {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
}

main section .services section .new button {
  width: 100%;
  background: #3B4FE4;
  border: 0;
  padding: 10px 20px;
  font-size: 1.25rem;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .services section .list {
  width: 100%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .services section .list ul {
  list-style-type: none;
  border: 1px solid #3B4FE4;
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

main section .services section .list ul li {
  width: 90%;
  color: #3B4FE4;
  padding: 5px 0 5px 10%;
  font-weight: 500;
  cursor: pointer;
}

main section .services section .ser1 {
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  border: 1px solid #3B4FE4;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .services section .ser1 .ser {
  margin: 0;
  height: auto;
}

main section .services section .ser1 .ser .new1 {
  width: 100%;
}

main section .services section .ser1 .ser .new1 button {
  display: none;
}

main section .services section .ser1 .ser .new1 p {
  margin: 5% 0;
  color: rgba(0, 0, 0, 0.8);
  width: 90%;
  padding: 0 5%;
}

main section .services section .ser1 .ser .new1 .rate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 5% 0;
}

main section .services section .ser1 .ser .new1 .rate h4 {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

main section .services section .ser1 .ser .ft {
  width: 100%;
  height: auto;
  background: #3B4FE4;
}

main section .services section .ser1 .ser .ft img {
  width: 100%;
}

main section .services section .ser1 .ser .ft h4, main section .services section .ser1 .ser .ft p {
  margin: 0;
  color: white;
  width: 90%;
  padding: 0 5%;
}

main section .services section .ser1 .ser .ft h4 {
  padding-top: 5%;
}

main section .services section .ser1 .ser .ft p {
  padding-bottom: 5%;
}

@media (min-width: 1000px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .services {
    width: 100%;
    margin: 5% 0 10% 0;
  }
  main section .services section {
    width: 85%;
    margin: 0 auto;
  }
  main section .services section .new {
    margin: 0 0 3% 0;
  }
  main section .services section .new button {
    width: 250px;
    padding: 20px;
  }
  main section .services section .list {
    background: white;
    border: 0;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  main section .services section .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0;
  }
  main section .services section .list ul li {
    width: 25%;
    padding: 10px 0;
    color: #3B4FE4;
    text-align: center;
  }
  main section .services section .list ul li a:hover {
    color: inherit;
  }
  main section .services section .list ul li:hover {
    background: #3B4FE4;
    color: white;
  }
  main section .services section .ser1 {
    width: 90%;
    min-height: 400px;
    border-top: 0;
    padding: 5%;
    border-radius: 0 0 5px 5px;
    border: 0;
  }
  main section .services section .ser1 .ser {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main section .services section .ser1 .ser .new1 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .services section .ser1 .ser .new1 button {
    display: block;
    outline: 0;
    width: auto;
    background: transparent;
    border: 1px solid #3B4FE4;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    color: #3B4FE4;
    margin: 0 0 0 5%;
    padding: 10px 20px;
    cursor: pointer;
  }
  main section .services section .ser1 .ser .new1 button i {
    padding-left: 10px;
  }
  main section .services section .ser1 .ser .new1 p {
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.65);
    width: 90%;
    padding: 0 5%;
  }
  main section .services section .ser1 .ser .new1 .rate {
    width: 90%;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main section .services section .ser1 .ser .new1 .rate h4 {
    width: 50%;
    margin: 0;
    color: black;
    font-weight: 500;
  }
  main section .services section .ser1 .ser .ft {
    width: 50%;
    background: transparent;
    overflow: visible;
    margin: 0;
  }
  main section .services section .ser1 .ser .ft img {
    width: 70%;
    height: 100%;
    margin-left: 15%;
  }
  main section .services section .ser1 .ser .ft .ft-cc {
    -webkit-box-shadow: 2px 4px 6px 2px rgba(232, 232, 255, 0.384);
            box-shadow: 2px 4px 6px 2px rgba(232, 232, 255, 0.384);
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: -50%;
    background: #3B4FE4;
  }
  main section .services section .ser1 .ser2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main section .services section .ser1 .ser2 .ft {
    width: 50%;
    background: transparent;
    overflow: visible;
    margin: 0;
  }
  main section .services section .ser1 .ser2 .ft img {
    width: 70%;
    height: 100%;
    margin-left: 0;
  }
  main section .services section .ser1 .ser2 .ft .ft-cc {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    margin-top: -50%;
    margin-left: auto;
    margin-right: 0;
    background: #3B4FE4;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .testimonials {
  width: 100%;
  background-image: url("../images/testimonial-cover.png");
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
}

main section .testimonials section {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

main section .testimonials section .ts-btn {
  border: 0;
  outline: none;
  background: transparent;
  width: 5%;
  cursor: pointer;
}

main section .testimonials section .ts-el {
  width: 80%;
  padding: 5%;
}

main section .testimonials section .ts-el .ts-tl {
  text-align: center;
}

main section .testimonials section .ts-el .ts-tl h4, main section .testimonials section .ts-el .ts-tl h2 {
  margin: 10px 0;
}

main section .testimonials section .ts-el .ts-bc {
  background: white;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
}

main section .testimonials section .ts-el .ts-if {
  text-align: center;
}

main section .testimonials section .ts-el .ts-if h3, main section .testimonials section .ts-el .ts-if p {
  margin: 10px 0;
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .testimonials {
    width: 100%;
    min-height: 50vh;
    height: auto;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  main section .testimonials section {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
  }
  main section .testimonials section .ts-btn {
    border: 0;
    outline: none;
    background: transparent;
    width: 20px;
  }
  main section .testimonials section .ts-el {
    width: 20%;
    min-width: 300px;
    padding: 5%;
  }
  main section .testimonials section .ts-el .ts-tl {
    text-align: center;
  }
  main section .testimonials section .ts-el .ts-tl h4, main section .testimonials section .ts-el .ts-tl h2 {
    margin: 10px 0;
  }
  main section .testimonials section .ts-el .ts-bc {
    background: white;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
  }
  main section .testimonials section .ts-el .ts-if {
    text-align: center;
  }
  main section .testimonials section .ts-el .ts-if h3, main section .testimonials section .ts-el .ts-if p {
    margin: 10px 0;
  }
  main section .testimonials section .ts-btn:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .offers-header {
  width: 100%;
  padding-top: 30px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
  min-height: 15vh;
  background-image: url("../images/offerscover.png");
}

main section .offers-header h1 {
  color: white;
  font-size: 2.558em;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main section .offers-content {
  width: 80%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .offers-content .offers-content-img {
  width: 100%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .offers-content .offers-content-img img {
  width: 100%;
  -webkit-box-shadow: 5px 10px 15px 5px gray;
          box-shadow: 5px 10px 15px 5px gray;
}

main section .offers-content .offers-content-img .offers-date {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  margin-top: -30px;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .offers-content .offers-content-img .offers-date p {
  text-align: center;
}

@media (min-width: 1000px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .offers {
    width: 100%;
  }
  main section .offers section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .offers section .offers-header {
    width: 100%;
    height: 5vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 35% 100%, 0 30%);
            clip-path: polygon(0 0, 100% 0, 100% 30%, 35% 100%, 0 30%);
    background-image: url("../images/offerscover.png");
  }
  main section .offers section .offers-header h1 {
    color: white;
    font-size: 2.25rem;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
  main section .offers section .offers-content {
    width: 90%;
    margin: 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .offers section .offers-content .offers-content-img {
    width: 25%;
    margin: 0 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: right;
    overflow: visible;
  }
  main section .offers section .offers-content .offers-content-img img {
    width: 100%;
  }
  main section .offers section .offers-content .offers-content-img .offers-date {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-top: -30px;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .offers section .offers-content .offers-content-img .offers-date p {
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .about {
  width: 100%;
}

main section .about section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .about section .about-header {
  width: 80%;
}

main section .about section .about-header h2, main section .about section .about-header p {
  width: 100%;
  text-align: justify;
  margin: 0;
}

main section .about section .about-header p {
  color: rgba(0, 0, 0, 0.8);
}

main section .about section .about-header .alterbutton {
  background-color: #3B4FE4;
  border: none;
  border-radius: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  text-align: center;
  padding: 5%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .about section .about-header .alterbutton p {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: white;
}

main section .about section .about-header .alterbutton img {
  width: 15px;
}

main section .about section .about-content {
  width: 80%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .about section .about-content .about-content-1 {
  width: 100%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 15px 5px #c9c8c8;
          box-shadow: 5px 10px 15px 5px #c9c8c8;
}

main section .about section .about-content .about-content-1 img {
  width: 35px;
  padding-top: 5%;
  padding-left: 10%;
}

main section .about section .about-content .about-content-1 h3 {
  width: 90%;
  text-align: left;
  padding-left: 10%;
}

main section .about section .about-content .about-content-1 p {
  width: 80%;
  text-align: left;
  padding-left: 10%;
  color: rgba(0, 0, 0, 0.8);
}

main section .about section .about-services {
  width: 80%;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .about section .about-services .about-services-header {
  width: 100%;
}

main section .about section .about-services .about-services-header .alterbutton {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 3%;
  padding: 3px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  padding: 5%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .about section .about-services .about-services-header .alterbutton p {
  text-align: center;
}

main section .about section .about-services .about-services-header .alterbutton h2 {
  text-align: center;
}

main section .about section .about-services .aboutservices-content {
  width: 100%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 15px 5px #c9c8c8;
          box-shadow: 5px 10px 15px 5px #c9c8c8;
}

main section .about section .about-services .aboutservices-content img {
  width: 100px;
  padding-top: 5%;
  padding-left: 10%;
}

main section .about section .about-services .aboutservices-content h3 {
  width: 80%;
  text-align: center;
}

main section .about section .about-services .aboutservices-content p {
  width: 80%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

main section .about section .about-services .alterbutton {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 3%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .about section .about-services .alterbutton p {
  text-align: center;
}

main section .about section .about-services .alterbutton h2 {
  text-align: center;
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .about {
    width: 100%;
  }
  main section .about section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .about section .about-header {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .about section .about-header h2, main section .about section .about-header p {
    text-align: center;
    margin: 1rem 0;
  }
  main section .about section .about-header p {
    text-align: justify;
  }
  main section .about section .about-header .alterbutton {
    background-color: #3B4FE4;
    border: none;
    border-radius: 5px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 250px;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .about section .about-header .alterbutton p {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: white;
    margin: 0;
  }
  main section .about section .about-header .alterbutton img {
    width: 15px;
  }
  main section .about section .about-content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .about section .about-content .about-content-1 {
    width: 23%;
    min-width: 200px;
    min-height: 200px;
    margin: 2.5%;
    padding: 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 5px;
    -webkit-box-shadow: 5px 10px 15px 5px #c9c8c8;
            box-shadow: 5px 10px 15px 5px #c9c8c8;
  }
  main section .about section .about-content .about-content-1 img {
    width: 50px;
    padding: 0;
    margin: 0;
  }
  main section .about section .about-content .about-content-1 h3 {
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  main section .about section .about-content .about-content-1 p {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  main section .about section .about-services {
    width: 90%;
    margin-top: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .about section .about-services .about-services-header {
    width: 97%;
    margin: 5% 0;
  }
  main section .about section .about-services .about-services-header .alterbutton {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .about section .about-services .about-services-header .alterbutton p {
    text-align: center;
  }
  main section .about section .about-services .about-services-header .alterbutton h2 {
    text-align: center;
  }
  main section .about section .about-services .aboutservices-content {
    width: 19%;
    min-width: 250px;
    margin: 0 1.5%;
    padding: 1.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 5px;
    -webkit-box-shadow: 5px 10px 15px 5px #c9c8c8;
            box-shadow: 5px 10px 15px 5px #c9c8c8;
  }
  main section .about section .about-services .aboutservices-content img {
    width: 100px;
    padding-top: 5%;
    padding-left: 10%;
  }
  main section .about section .about-services .aboutservices-content h3 {
    width: 80%;
    text-align: center;
  }
  main section .about section .about-services .aboutservices-content p {
    width: 80%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }
  main section .about section .about-services .alterbutton {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 3%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 130px;
    margin: 5% 0;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .about section .about-services .alterbutton p {
    text-align: center;
  }
  main section .about section .about-services .alterbutton h2 {
    text-align: center;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .clients {
  width: 100%;
}

main section .clients section {
  width: 100%;
}

main section .clients section .clients-header {
  width: 80%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .clients section .clients-header .alterbutton {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  padding: 5%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .clients section .clients-header .alterbutton p {
  text-align: center;
  padding: 15px 0;
}

main section .clients section .clients-header .alterbutton img {
  width: 15px;
}

main section .clients section .clients-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .clients section .clients-content .clients-content-img {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .clients section .clients-content .clients-content-img img {
  width: 20%;
  margin: 5%;
}

main section .clients section .clients-content button {
  background: transparent;
  border: none;
  outline: none;
}

main section .clients section .clients-content button:hover {
  cursor: pointer;
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .clients {
    width: 100%;
    margin: 100px 0 0 0;
  }
  main section .clients section {
    width: 100%;
  }
  main section .clients section .clients-header {
    width: 85%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .clients section .clients-header .alterbutton {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .clients section .clients-header .alterbutton p {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  main section .clients section .clients-header .alterbutton img {
    width: 15px;
  }
  main section .clients section .clients-content {
    width: 80%;
    margin-top: -2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .clients section .clients-content .clients-content-img {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .clients section .clients-content .clients-content-img img {
    width: 15%;
    margin-left: 5%;
    margin-right: 10%;
  }
  main section .clients section .clients-content button {
    background: transparent;
    border: none;
  }
  main section .clients section .clients-content button img {
    width: 15px;
  }
  main section .clients section .clients-content button:hover {
    cursor: pointer;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .pricing {
  width: 90%;
  margin: 0 auto;
}

main section .pricing section {
  width: 100%;
}

main section .pricing section .pricing-cover {
  width: 100%;
}

main section .pricing section .pricing-cover .pricing-content {
  width: 90%;
  padding: 5%;
  padding-bottom: 0;
  margin: 5% 0 0 0;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .pricing section .pricing-cover .pricing-content h2, main section .pricing section .pricing-cover .pricing-content h3, main section .pricing section .pricing-cover .pricing-content p {
  margin: 0;
}

main section .pricing section .pricing-cover .pricing-content h2 {
  padding: 10px 0;
  text-align: center;
}

main section .pricing section .pricing-cover .pricing-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0;
}

main section .pricing section .pricing-cover .pricing-content p img {
  width: 25px;
  padding-right: 5px;
}

main section .pricing section .pricing-cover .pricing-content ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

main section .pricing section .pricing-cover .pricing-content ul li {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 5px 0;
}

main section .pricing section .pricing-cover .pricing-content ul li h3, main section .pricing section .pricing-cover .pricing-content ul li p {
  width: 120px;
  text-align: left;
}

main section .pricing section .pricing-cover .pricing-content ul li p span {
  padding: 0 10px;
}

main section .pricing section .pricing-cover .pricing-content ul li img {
  float: right;
  width: 25px;
  padding-left: 25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .pricing {
    width: 90%;
    margin: 0 auto;
  }
  main section .pricing section {
    width: 100%;
  }
  main section .pricing section .pricing-cover {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .pricing section .pricing-cover .pricing-content {
    min-width: 250px;
    width: 14%;
    margin: 20px;
    padding: 20px;
    padding-bottom: 0;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
}

main {
  width: 100%;
}

main section {
  width: 100%;
}

main section .contact {
  width: 90%;
  margin: 0 auto;
}

main section .contact section {
  width: 100%;
}

main section .contact section .contact-header {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .contact section .contact-header .alterbutton {
  background-color: #3B4FE4;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5% 0;
  padding: 3px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  padding: 5%;
  -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
          box-shadow: 2px 4px 6px 2px #c9c8c8;
}

main section .contact section .contact-header .alterbutton a h2 {
  text-align: center;
  color: white;
}

main section .contact section .contact-header .alterbutton a:hover {
  cursor: pointer;
}

main section .modal {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  z-index: 5;
}

main section .modal .modal-content {
  width: 80%;
  margin: 10% auto;
  background: white;
  border-radius: 10px;
  padding: 5%;
}

main section .modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

main section .modal .modal-content .close:hover, main section .modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

main section .modal .modal-content form {
  width: 90%;
  margin: 0 auto;
}

main section .modal .modal-content form .filelds {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

main section .modal .modal-content form .filelds h2 {
  margin: 0;
  color: #282C4E;
  -webkit-transform: translateX(1);
          transform: translateX(1);
}

main section .modal .modal-content form .filelds label {
  width: 100%;
  color: #282C4E;
  font-weight: 700;
  -webkit-transform: translateX(1);
          transform: translateX(1);
  font-size: 1rem;
}

main section .modal .modal-content form .filelds input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #282C4E;
  border-radius: 5px;
  margin-top: 5px;
  color: #282C4E;
  font-weight: 500;
  font-size: 1rem;
  outline: none;
  -webkit-transform: translateX(1);
          transform: translateX(1);
  background: transparent;
}

main section .modal .modal-content form .filelds button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3B4FE4;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  -webkit-transform: translateX(1);
          transform: translateX(1);
  color: white;
  margin-bottom: 20px;
}

main section .modal .modal-content form .filelds h2[data-scroll="out"], main section .modal .modal-content form .filelds label[data-scroll="out"], main section .modal .modal-content form .filelds input[data-scroll="out"] {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main section .modal .modal-content form .filelds button[data-scroll="out"] {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main section .modal .modal-content form .filelds ::-webkit-input-placeholder {
  color: #282C4E;
}

main section .modal .modal-content form .filelds :-ms-input-placeholder {
  color: #282C4E;
}

main section .modal .modal-content form .filelds ::-ms-input-placeholder {
  color: #282C4E;
}

main section .modal .modal-content form .filelds ::placeholder {
  color: #282C4E;
}

main section .modal .modal-content form .filelds ::-webkit-inner-spin-button {
  display: none;
}

main section .modal .modal-content form .filelds div {
  width: 100%;
  margin: 10px auto;
  height: 2px;
  background: #282C4E;
}

@media (min-width: 700px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
  }
  main section .contact {
    width: 100%;
  }
  main section .contact section {
    width: 100%;
  }
  main section .contact section .contact-header {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section .contact section .contact-header .alterbutton {
    background-color: #3B4FE4;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 250px;
    margin: 10% auto;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 6px 2px #c9c8c8;
            box-shadow: 2px 4px 6px 2px #c9c8c8;
  }
  main section .contact section .contact-header .alterbutton a h2 {
    text-align: center;
    color: white;
  }
  main section .contact section .contact-header .alterbutton a:hover {
    cursor: pointer;
  }
  main section .modal {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  main section .modal .modal-content {
    width: 400px;
    padding: 20px;
  }
  main section .modal .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  main section .modal .modal-content .close:hover, main section .modal .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  main section .modal .modal-content form {
    width: 90%;
    margin: 0 auto;
  }
  main section .modal .modal-content form .filelds {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  main section .modal .modal-content form .filelds h2 {
    margin: 0;
  }
  main section .modal .modal-content form .filelds label {
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
  }
  main section .modal .modal-content form .filelds input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 1rem;
    outline: none;
    background: transparent;
  }
  main section .modal .modal-content form .filelds button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #3B4FE4;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
    outline: none;
  }
  main section .modal .modal-content form .filelds button:hover {
    cursor: pointer;
  }
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  background: #282C4E;
}

footer section {
  width: 90%;
  margin: 0 auto;
}

footer section .ft-by-tp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer section .ft-by-tp .ft-el {
  width: 95%;
  padding: 2.5%;
}

footer section .ft-by-tp .ft-el .alrMaps {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}

footer section .ft-by-tp .ft-el h1 {
  margin: 1rem 0;
  text-align: center;
  color: white;
}

footer section .ft-by-tp .ft-el h3, footer section .ft-by-tp .ft-el p {
  color: white;
  width: 100%;
  text-align: left;
  margin: 0;
}

footer section .ft-by-tp .ft-el p {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
}

footer section .ft-by-tp .ft-el ul {
  list-style-type: none;
  padding: 10px 0 0 10%;
  margin: 0;
  width: 90%;
  text-align: left;
  list-style-image: url("../images/pointing.png");
}

footer section .ft-by-tp .ft-el ul li {
  padding: 2.5px 0;
}

footer section .ft-by-tp .ft-el ul li a {
  color: rgba(255, 255, 255, 0.8);
}

footer section .ft-by-tp .ft-el ul li a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ff61b0;
}

footer section .ft-by-tp .ft-el .sc-ic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

footer section .ft-by-tp .ft-el .sc-ic a {
  width: 30px;
  height: 30px;
  background: #3B4FE4;
  border-radius: 50%;
  margin: 0 2px;
}

footer section .ft-by-tp .ft-el .sc-ic a img {
  width: 20px;
  height: 20px;
  padding: 5px;
}

footer section .ft-by-tp .ft-el .sc-ic a:hover {
  background: #ff61b0;
}

footer section .ft-by-tp .ft-li {
  width: 45%;
}

footer section .ft-sp {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

footer section .ft-by-bm {
  width: 90%;
  padding: 5%;
}

footer section .ft-by-bm .ft-cr p {
  color: white;
  text-align: center;
  margin: 0;
}

footer section .ft-by-bm .ft-ca a p {
  color: white;
  text-align: center;
}

footer section .ft-by-bm .ft-ca a p:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ff61b0;
}

@media (min-width: 700px) {
  footer section {
    width: 80%;
    margin: 0 auto;
  }
  footer section .ft-by-tp {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
  }
  footer section .ft-by-tp .ft-el {
    width: 20%;
    text-align: center;
    padding: 2.5%;
    margin: 0;
  }
  footer section .ft-by-tp .ft-el .alrMaps {
    margin: 0;
  }
  footer section .ft-by-tp .ft-el .alrMaps iframe {
    width: 100%;
    height: 100%;
  }
  footer section .ft-by-tp .ft-el h3, footer section .ft-by-tp .ft-el p {
    width: 100%;
    text-align: left;
    margin: 0;
  }
  footer section .ft-by-tp .ft-el p {
    width: 100%;
    padding-top: 10px;
  }
  footer section .ft-by-tp .ft-el ul {
    list-style-type: none;
    padding: 10px 0 0 10%;
    margin: 0;
    width: 90%;
    text-align: left;
    list-style-image: url("../images/pointing.png");
  }
  footer section .ft-by-tp .ft-el ul li {
    padding: 2.5px 0;
  }
  footer section .ft-by-tp .ft-el ul li a {
    padding-left: 10px;
  }
  footer section .ft-by-tp .ft-el .sc-ic {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer section .ft-by-tp .ft-el:first-child {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  footer section .ft-by-tp .ft-el:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  footer section .ft-by-tp .ft-li {
    width: 20%;
    max-width: 150px;
  }
  footer section .ft-sp {
    width: 100%;
    height: 1px;
  }
  footer section .ft-by-bm {
    width: 100%;
    display: block;
    padding: 50px 0;
    min-height: 20px;
  }
  footer section .ft-by-bm .ft-cr {
    width: auto;
    float: left;
  }
  footer section .ft-by-bm .ft-cr p {
    margin: 0;
  }
  footer section .ft-by-bm .ft-ca {
    float: right;
  }
  footer section .ft-by-bm .ft-ca a p {
    margin: 0;
  }
}

.overflow {
  overflow: hidden;
}

.elagent-btn {
  display: inline;
  text-align: center;
  margin: auto;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3B4FE4;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff61b0;
}

.bk-tp {
  width: 50px;
  position: fixed;
  right: 2px;
  bottom: 2px;
}

.bk-tp img {
  width: 100%;
}

@media (min-width: 700px) {
  .bk-tp {
    width: 70px;
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  .bk-tp img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */